* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
}

#cr-stage {
	display: none;
	opacity: 0.5;
}

#px-stage {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#px-stage canvas {
	/* http://bit.ly/16cSwx8 */
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAS0lEQVQYV4XQwQ0AMAQF0FrF/iuxipaDoC3/RPKSL4CIZIUgYlxtZuYFEf6QYocdcjghg3JSj9Kbai74QtqY4A+l6g45nFB6z/T0DdlWQOU7v3I0AAAAAElFTkSuQmCC
	) repeat;
	border: 2px solid #aaa;
}
