* {
	margin: 0;
	padding: 0;
}

#cr-stage {
	display: none;
	opacity: 0.5;
	position: absolute;
}

#px-stage {
	position: absolute;
}

#px-stage canvas {
	/* http://bit.ly/163RUHV */
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATUlEQVQYV4XQ0QkAIAgE0JzF/UdyluICD5XSviqeeJyY2V7hqKrEN+4wEuEPARN2iHBCF9Y8nqn+P4NXhI0J1gYw4LEIO8SME0r1TKUfEoQ1+UtkV60AAAAASUVORK5CYII=
	) repeat;
}
